rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // 開發用：暫時開放
      allow read, write: if true;
    }
  }
}
